* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    background-color: #FE9563;
}
  
nav,
footer {
padding: 1% 0;
background-color: #aaa;
}

nav {
position: fixed;
width: 100%;
padding: 10px;
z-index: 1000;
}

section {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: .85rem;
    text-align: center;
}


section p {
    padding-top: 10px;
    padding-bottom: 20px;
}

ul {
    display: inline-block;
}

li {
    list-style: none;
}

header {
position: relative;
padding: 12% 0;
width: 100%;
height: 500px;
background-image: url('images/cory-portfolio-cropped-downsized.jpg');
background-position: left bottom;
background-repeat: no-repeat;
background-size: cover;
}

.slogan {
    position: absolute;
    bottom: 1%;
    left: 3%;
    color: white;
    font-size: 15px;
}

section {
min-height: 200px;
background-color: #bbb;
}

section:nth-child(even) {
background-color: #ddd;
}

.fas {
    font-family: ;
}










/*media queries*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
body {
    color: purple;
    }
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
section, footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    border: solid 1px lightgrey;
    }

.slogan {
    font-size: 8px;
    }
footer {
    text-align:  center;
    font-size: 14px;
    }
}


/*iPhone landscape*/

@media only screen and (min-width: 480px) {
body {
    color: green;
    }
nav ul {
    text-align: center;
}
.slogan {
    font-size: 10px;
    }
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {
body {
    color: red;
} 
header {
    height: 600px;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
body {
    color: blue;
}
header {
    height: 700px;
    }
}