* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
   /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}
/* general styles */
body {
    background-color: #FE9563;
}
nav, footer {
    padding: 1% 0;
    background-color: #aaa;
}
ul {
    display: inline-block;
}
li {
    list-style: none;
}
/* header styles */
nav {
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
nav h2 {
    font-size: 26px;
    font-family: 'Nothing You Could Do', cursive;
    padding: 6px;
}
nav ul {
    padding: 6px;
}
main header {
    position: relative;
    padding: 12% 0;
    width: 100%;
    height: 500px;
    background-image: url('images/cory-portfolio-cropped-downsized.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
main header .slogan {
    position: absolute;
    bottom: 1%;
    left: 3%;
    color: white;
    font-size: 15px;
}
/* content styles */
main section {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: .85rem;
    min-height: 200px;
    background-color: #bbb;
    font-family: 'Raleway', sans-serif;
}
main section:nth-child(even) {
    background-color: #ddd;
}
main section p {
    padding-top: 10px;
    padding-bottom: 20px;
}
main figcaption {
    padding: 6px;
}
.skills-item {
    border: 1px solid dodgerblue;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    background-color: lightgrey;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-top: 10px;
}
/* footer styles */
footer {
    text-align: center;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
footer .container {

}
footer .container ul li {

}

/*media queries*/
/*iPhone portrait*/
@media only screen and (min-width: 320px) {
    body {
        color: purple;
   }
    .slogan {
        font-size: 8px;
   }
}
/*iPhone landscape*/
@media only screen and (min-width: 480px) {
    body {
        color: green;
   }
    .slogan {
        font-size: 10px;
   }
}
/*ipad potrait*/
@media only screen and (min-width: 768px) {
    body {
        color: red;
   }
    header {
        height: 600px;
   }
}
/*ipad lanscape / small laptop*/
@media only screen and (min-width: 1024px) {
    body {
        color: blue;
   }
    header {
        height: 700px;
   }
}
